:root {
    --primary-color: #000;
    --secondary-color: #22D4FD;
    --tertiary-color: #f6f6f6;
    --quaternary-color: #272727;

    --primary-font--family: 'Krona One', sans-serif;
    --secondary-font--family: 'Montserrat', sans-serif;

    --primary-font--weight: 400;
    --secondary-font--weight: 700;

    --primary-font--size: 2rem;
    --secondary-font--size: 1.5em;
}