@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;700&display=swap');

@import url('./standards.css');

:root {
    --primary-color: #000;
    --secondary-color: #22D4FD;
    --tertiary-color: #f6f6f6;
    --quaternary-color: #272727;

    --primary-font--family: 'Krona One', sans-serif;
    --secondary-font--family: 'Montserrat', sans-serif;

    --primary-font--weight: 400;
    --secondary-font--weight: 700;

    --primary-font--size: 2rem;
    --secondary-font--size: 1.5em;
}

.content {
    background-color: var(--primary-color);
    box-sizing: border-box;
    color: var(--tertiary-color);
}

._ch__nav {
    display: flex;
    gap: 5vw;
    margin: 2% 0% 0% 5%;
}

._chn__link {
    color: var(--secondary-color);
    font-family: var(--secondary-font--family);
    font-size: var(--secondary-font--size);
    font-weight: var(--secondary-font--weight);
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 10% 5%;
    gap: 5vw;
}

.main__section {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

._ms__title {
    font-family: var(--primary-font--family);
    font-size: var(--primary-font--size);
}

._ms__text {
    font-family: var(--secondary-font--family);
    font-size: var(--secondary-font--size);
}

._ms__title--emphasis {
    color: var(--secondary-color);
}

._ms__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

._ms__link--cta {
    align-self: center;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    color: var(--tertiary-color);
    font-family: var(--secondary-font--family);
    font-size: var(--secondary-font--size);
    font-weight: var(--secondary-font--weight);
    gap: 2vw;
    justify-content: center;
    padding: 2vh 0;
    text-align: center;
    text-decoration: none;
    width: 30vw;
    margin-bottom: 5vh;
}

._ms__link--cta:hover {
    background-color: var(--quaternary-color);
    transition: 0.2s;
}

._msd__subtitle {
    font-family: var(--primary-font--family);
    font-size: var(--secondary-font--size);
    font-weight: var(--primary-font--weight);
    text-align: center;
}

._msd__link {
    align-items: center;
    display: flex;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    color: var(--tertiary-color);
    font-family: var(--secondary-font--family);
    font-size: var(--secondary-font--size);
    font-weight: var(--secondary-font--weight);
    gap: 2vw;
    justify-content: center;
    padding: 2vh 0;
    text-align: center;
    text-decoration: none;
    width: 30vw;
}

._msd__link:hover {
    background-color: var(--quaternary-color);
    transition: 0.2s;
}

.main__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._md__img {
    width: 30vw;
}

.footer {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    padding: 1%;
    color: var(--primary-color);
}

